.header
{
text-align: center;
color: white;
}
.buttonAdd
{	margin:auto;
	width:70%;
	height:15px;
	background-color: white;
	text-align: center;
}
body
{
background-color: #666;
}
#container
{
	width: 90%;
	margin: auto;
	height: 500px;
}
.note
{
	margin:10px;
	float: left;
	display: inline-block;
	position : relative;
}
.x{
	top:0;
	right: 0;
	 position: absolute;
	 cursor: pointer; 
	 cursor: hand;
}

.note *
{
	

}

.text
{
	background-color: #ffc;
	border: 3px solid #000;
	width:300px;
	min-height: 12em;
	height: auto;
	word-wrap: break-word;
	resize: none;
		display: inline-block;
	vertical-align: middle;
	
}
.image
{
	background-color: white;
	width:200px;
	min-height: 10.4em;
	height: auto;
		display: inline-block;
	vertical-align: middle;
}
img{
	width: 80%;
}

